* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-layout{
    min-height: 100vh;
    margin: 0;
    display: flex;
    padding-left: 70px;
    background-color: var(--background-color);
}

p.alert{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}