
.auth-layout {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #3B82F6, #4F46E5 45%, #8B5CF6 100%);
}


.auth-container{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 60%;
    border-radius: 10px;
    background-color: white;
    min-height: 400px;
}

.auth-container h2{
    text-align: center;
    font-size: 28px;
}


.auth-container .image-zone{
    width: 45%;  
}

.auth-container .image-zone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.auth-container .form-zone{
    width: 55%;
    display: flex;
    justify-content: center;
    position: relative;
}

.auth-container .form-zone form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    
}

.auth-container button{
    background-color: blue;
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: white;
}

.auth-container button:hover{
    background-color: darkblue;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.signin-container, .signup-container{
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-container .form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.auth-container .form-group label{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    color: rgb(93, 93, 93);
}

.auth-container input{
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(218, 218, 218);
}

.signin-container p, .signup-container p{
    margin-top: 15px;
    text-align: left;
    color: rgb(93, 93, 93);
    font-size: 0.85em;
}

.projects-container, .project-container {
    padding: 20px;
    width: 100%;
} 

.projects-container h2, .project-container h2 {
    border-bottom: 1px solid var(--principal-text);
    width: 40%;
    padding-bottom: 10px;
    padding-top: 30px;
    color: var(--principal-text);
    font-size: 26px;
}

.projects-container .projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card{
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 10px;
    height: 70px;
    padding: 7px;
    background-color: var(--surface-color);
    margin-bottom: 30px;
    position: relative;
}

.project-card:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.project-card .delete-button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--error-color);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card p{
    color: var(--secondary-text);
    text-overflow: ellipsis;
    font-size: 10px;
    width: 85%;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projects-container .add-button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--success-color);
    font-weight: bold;
    color: var(--principal-text);
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.projects-container .add-button:hover{
    transform: scale(1.03);
}

.user-container{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 18px;
    padding: 20px;
    width: 45%;
    text-align: center;
}

.user-container .img-zone{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--border);
    padding-bottom: 15px;
}

.user-container .img-zone img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.user-container table{
    width: 100%;
    border-collapse: collapse;
}

.user-container th, .user-container td{
    border-bottom: 1px solid var(--border);
    text-align: left;
    padding: 15px 8px;
}


.user-container button{
    margin-top: 20px;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.user-container button:hover{
    background-color: var(--hover-secondary);
    
}


.user-container form{
    padding: 10px;
}

.user-container form .form-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
    
}

.user-container .form-group label{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    color: rgb(93, 93, 93);
}

.user-container input{
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(218, 218, 218);
    width: 100%;
}

.user-container h2{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.tasks-list{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.tasks-list table{
    width: 100%;
    border-collapse: collapse;
}

.tasks-list th, .tasks-list td{
    border-bottom: 1px solid var(--border);
    padding: 20px;
    text-align: center;
}

