
.auth-layout {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #3B82F6, #4F46E5 45%, #8B5CF6 100%);
}


.auth-container{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 60%;
    border-radius: 10px;
    background-color: white;
    min-height: 400px;
}

.auth-container h2{
    text-align: center;
    font-size: 28px;
}


.auth-container .image-zone{
    width: 45%;  
}

.auth-container .image-zone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.auth-container .form-zone{
    width: 55%;
    display: flex;
    justify-content: center;
    position: relative;
}

.auth-container .form-zone form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    
}

.auth-container button{
    background-color: blue;
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: white;
}

.auth-container button:hover{
    background-color: darkblue;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.signin-container, .signup-container{
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-container .form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.auth-container .form-group label{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    color: rgb(93, 93, 93);
}

.auth-container input{
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(218, 218, 218);
}

.signin-container p, .signup-container p{
    margin-top: 15px;
    text-align: left;
    color: rgb(93, 93, 93);
    font-size: 0.85em;
}

.projects-container {
    padding: 20px;
    width: 100%;
} 

.projects-container h2 {
    border-bottom: 1px solid var(--principal-text);
    width: 40%;
    padding-bottom: 10px;
    padding-top: 30px;
    color: var(--principal-text);
    font-size: 26px;
}

.projects-container .projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.project-card{
    border: 2px solid var(--border);
    width: 30%;
    border-radius: 10px;
    height: 70px;
    padding: 5px;
    background-color: var(--surface-color);
    margin-bottom: 30px;
    position: relative;
}

.project-card:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.project-card .delete-button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--error-color);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card p{
    color: var(--secondary-text);
    text-overflow: ellipsis;
    font-size: 10px;
    width: 85%;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

